body {
	font-size: 15px;
    line-height: 1.52;
    font-size: 16px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: relative !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.section-padding{
	padding: 60px 0px;
}
h1, h2, h3, h4, h5, h6{
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    color: #4B4B4C;
}
a{
    color: #457BAE;
}
a:hover, a:focus{
    color: #457BAE;
}
/***********************************
Navigation bar
************************************/
.navbar-default {
    font-family:'Open Sans', sans-serif;
    border: 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 10px 15px;
  width: auto;
}
@media(min-width:768px) {
    .navbar-default {
        background-color: rgba(0, 0, 0, 0);
        font-size: 20px;
        color: #000000 !important;
    }
    .navbar-default .nav > li>a,
    .navbar-default .nav > li>a:focus{
        color: rgba(255,255,255,.7);
    }
    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
        background-color: rgba(69,123,174,.7) !important;
    }
    .navbar.scrolled {
    background: whitesmoke;
    font-size: 15px;
    }
    .navbar.scrolled a:hover {
    color:#457BAE;
    background-color: lightgray;
    }
    .scrolled .nav>li>a{
        color: #222 !important;
    }
     .scrolled .nav>li>a:focus{
        color: #222 !important;
    }
}
/***********************************
Banner
************************************/
.banner{
    background: url("img/Portada_ducam.jpg") no-repeat center top;
    height: 75vh;
    width: 100vw;
    background-size: cover;
    padding-top: 50px;

    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.banner .banner-img{
    zoom: 10%;
}
@media(max-width:400px) {
    .banner .banner-img{
    zoom: 5%;
  }
}
.text-dec{
	font-size: 24px;
	padding: 10px 20px;
    margin: 15px 0;
	text-transform: uppercase;
    color: #fff;
}
.text-border{
	border: 5px solid #457BAE;
	display: inline-block;
	margin-top: 150px;
}
.intro-para{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 45px;
	color: #fff;
	margin-top: 30px;
}
.quote .btn{
    background-color:
}

.padleft-right{
    padding-left: 5px;
    padding-right: 0px;
}
.big-text{
    font-size: 35px;
}
.small-text{
    font-size: 16px;
}
/***********************************
Features
************************************/
#nosotros{
    margin-top: 30px;
}
h2{
	font-size: 24px;
	padding-bottom: 15px;
}
.bottom-line{
	width: 25px;
	height: 3px;
	background-color: rgb(99, 122, 145);
}
.fea{
	margin-top: 25px;
}
.fea-img {
  width: 20%;
}
.heading {
    width: 80%;
}
.fea i {
    font-size: 39px;
    color: #457BAE;
    margin-top: 7px;
}
.heading h4 {
    font-size: 17px;
    line-height: 1.25;
    font-weight: 700;
    color: #000;
    margin: 10px 0px;
    text-align: left;
}
.heading p {
  text-align: left;
}
/***********************************
Course
************************************/
[class*=" imghvr-"] figcaption, [class^="imghvr-"] figcaption {
    background-color: #457BAE;
}
[class*=" imghvr-"], [class^="imghvr-"] {
    background-color: #457BAE;
    color: #fff;
}

/***********************************
Footer
************************************/
.footer {
    padding: 60px 0 20px;
    background: #222;
    color: #ccc;
}
.footer a {
    color: #fff;
}
.footer .social-links li a {
    color: #fff;
    font-size: 32px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
}
.footer .social-links li a:hover {
    color: #457BAE;
}
.footer .social-links li {
    display: inline-block;
    margin: 0 25px 25px;
}
.btn {
    padding: 10px 20px;
}
.footer .form-control:focus{
    box-shadow: none;
}
/***********************************
************************************
Responsive media queries
************************************
***********************************/
@media (min-width: 769px) and (max-width: 980px) {
    .ser-text {
    font-size: 20px;
    }
    .service-box, .feature-info, .orga-stru{
        margin-bottom: 30px;

}
@media (min-width: 451px) and (max-width: 768px) {
    .ser-text {
    font-size: 20px;
    }
    .service-box, .feature-info{
        margin-bottom: 30px;
    }

}
@media (min-width: 20px) and (max-width: 450px) {
    .text-dec {
    font-size: 20px;
    }
    .big-text {
    font-size: 30px;
    }
    .small-text {
    font-size: 14px;
    }
    .intro-para {
    font-size: 30px;
    }
    .header-section p{
        font-size: 14px;
    }
    .heading {
    margin-bottom: 20px;
    }
    .orga-stru i {
    font-size: 92px;
    }
    .orga-stru {
    padding: 5px 5px 15px 5px;
    width: 75px;
    margin-bottom: 20px;
    }
    .orga-stru h3 {
    font-size: 28px;
    }
    .orga-stru p {
    font-size: 13px;
    }
    h3.det-txt {
    font-size: 28px;
    }
    .cta-2-txt {
    font-size: 20px;
    }
    .service-box, .text-comment, .price-table{
        margin-bottom: 30px;
    }
    .contact-form-button{
        width: 40%;
    }
    .footer .social-links li {
    margin: 0 5px 25px;
    }
    .cta-2-form-submit-btn {
    font-size: 10px;
    }
    .cta-2-form input[type="email"] {
    padding: 13px 10px;
    font-size: 10px;
    min-width: 187px;
    }
    .modal-sm {
    width: 300px;
    }
    .login-box-body {
    padding: 15px 20px;
    }
}
